button {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  border: none;
  outline: none;
  font: inherit;
  padding: 0;
  margin: 0px 10px;
}

#topHeader {
  width: 100%;
  margin-bottom: 25px;
  color: white;
}

#topNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 20px;
  padding: 10px;
  background-color: rgb(46, 146, 209);
}

#navLinks {
  margin-left: 25px;
}
